@tailwind base;
@tailwind components;
@tailwind utilities;

.profilePhotoOnCard{
  border-radius: 100%;
  height: 100%;
}
.imageHeading{
  height: 5vh;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 1vh 0;
  width: 20vw;
}

.imageCard{
  min-width: 400px;
  max-width: 400px;
  padding: 2.5vw;
  background-color: antiquewhite;
}

.body{
  width: 30vw;
}

.nameOnCard{
  padding: 0.5em;
}

.imageOnCard{
  border-radius: 10px;
  width: 400px;
}

.commentsInput {
  display: flex;
}
.commentsList{
  text-align: left;
}
.commentsListed {
  background-color: white;
}